<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Form Handeling</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>EJS Form Handeling</h1>
    <form action="/form-submit" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="Name" placeholder="Enter your name">
        <br>
        <br>
        <label for="email">Email:</label>
        <input type="email" name="Email" id="email" placeholder="Enter your email">
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>