* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  padding: 50px;
  background-color: #222;
  color: #fff;
}

h1 {
  margin-bottom: 10px;
}
