<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MVC - Models Views & Controllers</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>MVC - Models Views & Controllers</h1>

    <form action="/submit-data" method="post">
      Name:- <input type="text" name="name" /> <br /><br />
      Email:- <input type="email" name="email" /> <br /><br />
      Age:- <input type="number" name="age" /> <br /><br />
      Phone:- <input type="number" name="phone" /> <br /><br />
      Password:- <input type="password" name="password" /> <br /><br />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
