<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener NodeJS</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <h1>URL Shortener NodeJS</h1>
      <form action="/short" method="post">
        <label for="longurl">Enter long URL:</label>
        <input type="text" id="longurl" name="longUrl" />

        <button>Shorten</button>
      </form>
      <% if(shortUrl){ %>
        <p>Short URL :- <a href="<%= shortUrl %>" target="_blank" /> <%= shortUrl %> </p>
      <% } %>
    </div>
  </body>
</html>
